        #header_page{
            width:1000px;
            margin:0 auto;
        }

        .line {
        border-top:solid 1px #cccccc;
        margin-top:25px;

        }

        header #logo {
            float:left;
            margin:15px 0 0 20px;
        }

        header #moto {
            float:left;
            margin:45px 0 0 20px;
        }

        header #top_menu {
            float:right;
            margin:50px 10px 0 0;
        }

        header #top_menu li {
            display:inline;
        }

        header nav #main_menu li {
            display:inline;
        }

        header nav li.item {
          margin-right:47px;
        }

        header nav #main_menu{
          margin-top:25px;
        }