
        #main_page {
        width:1000px;
        margin:0 auto;
        }

        #sitemap {
            padding:20px 0 0 15px;
        }

        #sitemap div {
            height:140px;
            float:left;
            margin-right:15px;
        }

        #sitemap h3 {
            font-size:15px;
            color:#12b9b2;
            margin-left:20px;
        }

        #sitemap li{
            list-style-image:url("img/blue_dot.gif");
            margin-left:20px;
        }
